/* Reset CSS*/

@font-face {
  font-family: 'Serat';
  src: url(./assets/Fonts/SeratUltra.ttf);
}

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url(./assets/Fonts/AktivGroteskCorp-Light.woff);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url(./assets/Fonts/AktivGroteskCorp-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url(./assets/Fonts/AktivGroteskCorp-Medium.woff);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url(./assets/Fonts/AktivGroteskCorp-Bold.woff);
  font-weight: 800;
  font-style: normal;
}

:root {
  --clr-primary: hsl(0, 0%, 10%);
  --clr-secondary: hsl(0, 0%, 96%);
  --clr-accent: #df473a;
  --clr-highlight: #df473ab0;

  --font-principal: 'Aktiv Grotesk';
  --font-title: 'Serat';
}

/* Modo oscuro */
/* @media (prefers-color-scheme: dark) {
  :root {
    --clr-primary: hsl(0, 0%, 96%);
    --clr-secondary: hsl(0, 0%, 10%);
  }
} */

/* ⬇ OPCIONAL ⬇ */
/* Modo alto contraste */
@media (prefers-contrast: high) {
  :root {
    --clr-primary: black;
    --clr-secondary: white;
  }
}

/* Modo no animaciones */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none;
    transition: none;
  }
}

/* ⬆ OPCIONAL ⬆*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  display: block;
  /* Si tienen altura */
  object-fit: cover;
  /* Si tienen altura */
  object-position: center center;
}

a {
  display: block;
}

p a {
  display: inline;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

::selection {
  background-color: var(--clr-accent);
  color: var(--clr-secondary);
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  display: block;
  color: inherit;
  appearance: none; /* Desactiva estilos predeterminados en checkbox y radio */
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%; /* Se adapta a las configuraciones del usuario */
  font-family: var(--font-principal);
  color: var(--clr-primary);
  background-color: var(--clr-secondary);
  line-height: 1.4em;
  font-smooth: always;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
}
