---
import colors from '../Vars.mjs'

const { clrHighlight } = colors
---

<!-- <section id="about"> -->
  <!-- <header>
    <h2>About</h2>
  </header> -->
  <div class="about" >
    <figure class="about--image">
      <img src="/assets/Pics/CVPic-W.png" alt="Main Picture" />
    </figure>
    <div class="about-text">
      <h3 id="hero--text__title" class="mb-4">Industrial Designer turned Front-End Developer</h3>
      
      <p class="mb-3">I have always been fascinated by design and the effect that it has. That led me to studying and graduating a Degree in <span class="">Engineering in Industrial Design</span> and ultimately finding a passion in Web Development.
      </p>

      <p class="">The main technologies that I like to work with are <span class=" text-highlight">React</span> for frontend development, <span class="text-highlight f-bold">Express</span> for building backend API’s , <span class="text-highlight f-bold">Figma</span> for designing and <span class="text-highlight f-bold">Vercel</span> for deploying.</p>
    </div>
  </div>
<!-- </section> -->

<style define:vars={{ clrHighlight }}>
  p {
    font-weight: 400;
  }
  .about {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    flex-wrap: wrap;
  }

  .about-text {
    width: min(52ch, 100%);
  }

  figure {
    max-width: 18ch;
  }

  .mb-4 {
    margin-bottom: 1.5rem;
  }
  .mb-3 {
    margin-bottom: 1rem;
  }

  .text-highlight {
    position: relative;
    z-index: 99;
    font-weight: 800;
  }

  .text-highlight::after {
    position: absolute;
    content: '';
    height: 9px;
    width: calc(100% + 2px);
    background-color: var(--clrHighlight);
    left: -1px;
    bottom: 0;
    z-index: -1;
  }
</style>