---

// TODO Hero Section (without Pic for now)
---

<section>
  <div>
    <h3>Frontend Developer</h3>
    <p>I love learning new technologies and building user oriented products.</p>
    <div class="hero--links">
      <a href='/assets/CVSergioEsteve_D.pdf' class="button--primary" target='_blank'>CV</a>
      <a href="https://github.com/sergio-prgm" class="button--secondary" target="_blank">Github</a>
    </div>
  </div>
  <figure class="hero--image">
    <div></div>
  </figure>
</section>

<style>
  /* .hero {
    background-color: aquamarine;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
  } */
  section {
    margin-bottom: 5rem;
  }

  .hero--links {
    max-width: 20ch;
    justify-content: space-between;
    display: flex;
    gap: 3rem;
  }
</style>
