---
import Layout from '../layouts/Layout.astro';

import Projects from '../components/sections/Projects.astro';
import Hero from '../components/sections/Hero.astro';
import About from '../components/sections/About.astro'
import ProjectCard from '../components/ProjectCard.astro';
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
import Section from '../layouts/Section.astro';

---
<Layout title="Sergio Esteve | Porfolio">
  <Navbar />
	<main>
		<h1><span class="text-gradient">Sergio Esteve Jordá</span></h1>
    <Hero />
    <Section title="About">
      <About />
    </Section>
    <Section title="Projects">
      <Projects >
        <ProjectCard 
          description="Sudoku solving app with over 5k handmade puzzles built using React, Express, and MongoDB."
          description="This project was built using React (context, custom hooks, etc.) for the UI development and a simple backend API using Express on top of NodeJS and MongoDB for the NoSQL database. The backend was deployed using Docker."
          title="SudokuApp"
          href='https://sudokuapp.xyz'
          github="https://github.com/sergio-prgm/sudoku-app"
          tags={['React', 'Express', 'Vanilla CSS', 'Authentication', 'MongoDB', 'Docker']}
        />
        <ProjectCard 
          description="Exercise tracking app with authentication and data persistency using Firebase, Angular & Tailwind CSS."
          description="This is a CRUD application using Angular alongside TailwindCSS for the Frontend/UI development and Firebase (authentication, Firestore) for handling the backend responsibilities and deployment/hosting."
          title="Gym logger"
          href='https://mdn.dev'
          github="https://github.com/sergio-prgm/gym-tracker"
          tags={['Angular', 'Firebase', 'Tailwind', 'CRUD', 'Authentication']}
        />
        <ProjectCard 
          description="SPA built with Angular and RxJS that uses the Google Books API to search and display collections of books."
          title="Book-hub"
          href='https://mdn.dev'
          github="https://github.com/sergio-prgm/bookdepo"
          tags={['Angular', 'Vanilla CSS', 'External API', 'Angular Universal', 'RxJS']}
        />
        <ProjectCard 
          description="CRUD app built on React using the Giphy API to show a collection of gifs and save them to a database through a backend built on Express and MongoDb. Followed the React course by Midudev."
          title="Giffy"
          href='https://giffy-two-dusky.vercel.app'
          github="https://github.com/sergio-prgm/giffy"
          tags={['CRUD', 'Express', 'Authentication', 'React', 'Vanilla CSS', 'MongoDB', 'Docker']}
        />
      </Projects>
    </Section>
	</main>
  <Footer />
  <script src='/scripts/highlight.js' defer />
</Layout>

<style>
	:root {
		/* --astro-gradient: linear-gradient(0deg,#4F39FA, #DA62C4); */
		--astro-gradient: linear-gradient(0deg,#b82e45, #fc9037e7);
	}

	h1 {
		margin: 2rem 0;
    font-family: 'Serat';
    line-height: 1.4;
    /* font-size: 3.5rem; */
	}

  :global(h3) {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 1.2;
  }

  :global(p) {
    font-family: var(--font-principal);
    font-size: 18px;
    line-height: 1.6;
  }

  :global(section) {
    top: 7rem;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }
  :global(section:nth-of-type(n + 2)) {
    padding-top: 10rem;
  }

	main {
    margin-top: 7rem;
    margin-inline: auto;
    padding: 1em;
    width: min(80ch, 90vw);
	}

  :global(.observer) {
    color: #df473a;
  }

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%, 100% { background-position-y: 0%; }
		50% { background-position-y: 80%; }
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
    margin-top: 1.25rem;
	}
</style>
