---
export interface Props {
    title: string,
    description: string,
    href: string,
    tags: string[]
}
const {href, title, description, tags} = Astro.props;
---
<li class="project-card">
  <div href={href} target="_blank" class="main-link">
    <h3>
        {title}
        <span>&rarr;</span>
    </h3>
    <ul class="project--tags" >
      {tags.map(tag => <li><span>{tag}</span></li>)}
    </ul>

    <ul class="project--links">
      <li class="button--primary"><a href="#">Check it out</a></li>
      <li class="button--secondary"><a href="#">Github repo</a></li>
    </ul>
    <!-- <div class="projects-links flex mb-3">
      <a href="#" class="button--primary">Check it out</a>
      <a href="#" class="button--secondary">Github repo</a>
    </div> -->
    <p>
        {description}
    </p>
  </div>
</li>

<style>
	:root {
		--link-gradient: linear-gradient(45deg, #4F39FA, #DA62C4 30%, var(--clr-secondary) 60%);
	}
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  .project-card {
    display: flex;
    /* padding: 0.15rem; */
    background-image: var(--link-gradient);
    background-size: 400%;
    border-radius: 0.5rem;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .project-card > div.main-link {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: 1em 1.3em;
    border-radius: 0.35rem;
    color: var(--text-color);
    background-color: white;
    opacity: 0.8;
  }
  
  .project--tags {
    display: flex;
    gap: 0.75rem;
    row-gap: .5rem;
    margin-top: .75rem;
    margin-bottom: 1.25rem;
    flex-wrap: wrap;
  }

  .project--tags > li {
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
    padding: 0.5em 1em;
    display: inline-block;
  }

  .project--links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    flex-wrap: wrap;
  }

  .project--links > li {
    font-size: 1.15rem;
    padding: .35rem 0.75rem;
  }

	h3 {
		margin: 0;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    /* font-size: 1.5rem; */
    font-weight: 700;
	}
    
  p {
    margin-top: 0.75rem;
    margin-bottom: 0;
  }

	h2 span {
		display: inline-block;
		transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
	}

	.project-card:is(:hover, :focus-within) {
		background-position: 0;
	}

	.project-card:is(:hover, :focus-within) h2 {
		color: #4F39FA;
	}

	.project-card:is(:hover, :focus-within) h2 span {
		transform: translateX(2px);
	}
</style>
