---
import colors from "../components/Vars.mjs";
export interface Props {
  title: string
}
const { clrAccent } = colors
const { title } = Astro.props as Props
---

<section id={title.toLowerCase()}>
  <header>
    <h2>{title}</h2>
  </header>
  <slot />
</section>

<style define:vars={{ clrAccent }}>

  section > header {
    position: absolute;
    left: 0;
    top: 2rem;
  }

  section > header::after {
    content: '';
    height: 5px;
    background-color: black;
    top: 2.75rem;
    left: -50vw;
    right: -1.5ch;
    position: absolute;
  }

  h2 {
    font-family: 'Serat';
    font-size: 2.2rem;
    color: var(--clrAccent)
  }

  section#projects {
    padding-bottom: 10rem;
  }

  section#about {
    padding-bottom: 4rem;
  }

</style>